html {
  box-sizing: border-box;
  font-family:"Georgia", serif;
  line-height: 1.5;
  background-color:white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding: 10px;
  margin: 0;
}

h1 {
  font-family: "Sigmar One";
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  margin: 0 0 .2em;
}

ol {
  padding: .3em;
  margin:0;
  padding: .2em .5em .3em;
}

a {
  text-decoration: none;
  color: white;
  background-color: #b2a212;
  padding: 10px;
  border-radius: 4px;
}

li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.125rem;
}

div {
  padding-left: 10px;
}

h2 {
  font-family: "Sigmar One";
  color: #b20953;
  font-size: 1.875rem;
}

img {
  display: block;
  width: 100%;
  padding-right: 10px;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 10px;
  font-size: .3em;
}

.berries a:hover {
  background-color: #2f2d13;
}

.berries .current {
  background-color: #b20953;
}
